# General .NET
[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.suo
*.sln.docstates

# .NET MAUI
platforms/*/obj/
platforms/*/bin/
platforms/*/*.apk
platforms/*/*.aab

# User-specific files
*.userprefs
*.lock.json
.idea/
.vscode/

# MacOS specific files
.DS_Store

# Windows specific files
Thumbs.db
ehthumbs.db
Desktop.ini

# Visual Studio
.vscode/
.vs/
.vscode/settings.json

# Rider
.idea/
*.sln.iml

# JetBrains Rider
.idea/
*.sln.iml
*.sln.DotSettings.user

# Xamarin/Maui Shared Resources
AppResources/Resources.designer.cs
Resources/*.xaml.g.cs

# Packages
*.nupkg
*.snupkg
.nuget/
*.swp

# Local environment files
.env

# Logs
logs
*.log
